<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">
  <mdb-navbar-brand>
      <a href="#" class="navbar-brand">Vectra</a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>List Album <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Add Album</a>
          </li>
      </ul>
  </links>
</mdb-navbar>
